<br>
<div class="jumbotron">
 <h1>Bloccit</h1>
 <p>Bloccit is a resource for sharing links with your friends!</p>
 <p>
   <%= link_to "Sign In", new_session_path %> or
   <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
 </p>
</div>

<div class="row">
 <div class="col-md-4">
   <h2>Start a conversation</h2>
   <p>Make your voice heard! Who knows who may be listening?</p>
 </div>
 <div class="col-md-4">
   <h2>Engage with the world</h2>
   <p>Expand your worldview with people from all countries from a variety of backgrounds and cultures.</p>
 </div>
 <div class="col-md-4">
   <h2>Learn something</h2>
   <p>Everyday is an opportunity to learn something. Read about it, then go out and explore!</p>
 </div>
</div>
